uvicorn
fastapi

langchain
langchain-community
langchain-huggingface
langchain-openai

faiss-cpu

sentence-transformers

unstructured[pdf]
opencv-python-headless
pdf2image
pytesseract
pillow

python-dotenv
python-multipart
